[train]
epoch = 200
batch_size =4
shuffle = True
reader_num = 4

optimizer = adamW
weight_decay = 0
learning_rate = 2e-7
step_size = 1
lr_multiplier = 1
dropout = 0.3

[eval]
batch_size = 4
shuffle = False
reader_num = 4

[data]
train_dataset_type = MultiJsonFromFiles
train_formatter_type = BertSentFormatter
train_query_data_path = ../../CAIL2022/lajs/data/stage1/train/query.json
train_candidates_data_path = ../../CAIL2022/lajs/data/stage1/train/candidates
train_label_top30_data_path = ../../CAIL2022/lajs/data/stage1/train/label_top30_dict.json

valid_dataset_type = MultiJsonFromFiles
valid_formatter_type = BertSentFormatter
valid_query_data_path = ../../CAIL2022/lajs/data/stage1/valid/query.json
valid_candidates_data_path = ../../CAIL2022/lajs/data/stage1/train/candidates
valid_label_top30_data_path = ../../CAIL2022/lajs/data/stage1/valid/label_top30_dict.json

test_dataset_type = MultiJsonFromFiles
test_formatter_type = BertSentFormatter
test_query_data_path = ../../CAIL2022/lajs/data/stage2/test/query.json
test_candidates_data_path = ../../CAIL2022/lajs/data/stage2/test/candidates

max_seq_length = 512

[model]
model_name = ELDMV2
hidden_size = 768

[output]
tensorboard_path = ./output/tensorboard

output_function = Basic

model_path = ./output/done_models/ELDMV2
model_name = ELDMV2

output_time = 1
test_time = 1

[distributed]
use = False
backend = gloo
