[train]
epoch = 200
batch_size = 2
shuffle = True
reader_num = 4

optimizer = adamW
weight_decay = 0
learning_rate = 1e-5
step_size = 1
lr_multiplier = 1

[eval]
batch_size = 2
shuffle = False
reader_num = 4

[data]
train_dataset_type = ELDMFromFiles
train_formatter_type = ELDMFormatter
train_query_data_path = ./data/LECARD/stage1/train/query.json
train_candidates_data_path = ./data/LECARD/stage1/train/candidates
train_label_top30_data_path = ./data/LECARD/stage1/train/label_top30_dict.json

valid_dataset_type = ELDMFromFiles
valid_formatter_type = ELDMFormatter
valid_query_data_path = ./data/LECARD/stage1/valid/query.json
valid_candidates_data_path = ./data/LECARD/stage1/valid/candidates
valid_label_top30_data_path = ./data/LECARD/stage1/valid/label_top30_dict.json

test_dataset_type = ELDMFromFiles
test_formatter_type = ELDMFormatter
test_query_data_path = ./data/LECARD/stage2/test/query.json
test_candidates_data_path = ./data/LECARD/stage2/test/candidates

max_para_length = 250
max_seq_length = 512
max_para_q = 2
max_para_c = 8

[model]
model_name = ELDMV2
hidden_size = 768

teacher_config = ../teacher/config/BertCRF.config
teacher_path = ../teacher/output/done_models/teacher_model_bert_ms/0.pkl

[output]
tensorboard_path = ./output/tensorboard

output_function = Basic

model_path = ./output/done_models/ELDMV2
model_name = ELDMV2

output_time = 1
test_time = 1

[distributed]
use = False
backend = gloo
