[train]
epoch = 200
batch_size = 32
shuffle = True
reader_num = 0

optimizer = adamW
weight_decay = 0
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95
dropout = 0.3

[eval]
batch_size = 16
shuffle = False
reader_num = 0

[data]
train_dataset_type = MultiJsonFromFiles
train_formatter_type = SentFormatter
train_query_data_path = .\data\LECARD\stage1_cutted\train\query.json
train_candidates_data_path = .\data\LECARD\stage1_cutted\train\candidates
train_label_top30_data_path = .\data\LECARD\stage1_cutted\train\label_top30_dict.json

valid_dataset_type = MultiJsonFromFiles
valid_formatter_type = SentFormatter
valid_query_data_path = .\data\LECARD\stage1_cutted\valid\query.json
valid_candidates_data_path = .\data\LECARD\stage1_cutted\valid\candidates
valid_label_top30_data_path = .\data\LECARD\stage1_cutted\valid\label_top30_dict.json

test_dataset_type = MultiJsonFromFiles
test_formatter_type = SentFormatter
test_query_data_path = .\data\LECARD\stage1_cutted\test\query.json
test_candidates_data_path = .\data\LECARD\stage1_cutted\test\candidates

max_sent = 15
sent_len = 15

word2id = .\data\LECARD\word2id.txt

[model]
model_name = SMASHRNN
hidden_size = 256
bi_direction = True
num_layers = 2

[output]
tensorboard_path = ./output/tensorboard

output_function = Basic

model_path = ./output/done_models/SMASHRNN
model_name = SMASHRNN

output_time = 1
test_time = 1

[distributed]
use = False
backend = gloo
