[train]
epoch = 200
batch_size = 16
shuffle = True
reader_num = 4

optimizer = adamW
weight_decay = 0
learning_rate = 1e-5
step_size = 1
lr_multiplier = 1
dropout = 0.3

[eval]
batch_size = 16
shuffle = False
reader_num = 4

[data]
train_dataset_type = MultiJsonFromFiles
train_formatter_type = WordFormatter
train_query_data_path = .\data\LECARD\stage1_cutted\train\query.json
train_candidates_data_path = .\data\LECARD\stage1_cutted\train\candidates
train_label_top30_data_path = .\data\LECARD\stage1_cutted\train\label_top30_dict.json

valid_dataset_type = MultiJsonFromFiles
valid_formatter_type = WordFormatter
valid_query_data_path = .\data\LECARD\stage1_cutted\valid\query.json
valid_candidates_data_path = .\data\LECARD\stage1_cutted\valid\candidates
valid_label_top30_data_path = .\data\LECARD\stage1_cutted\valid\label_top30_dict.json

test_dataset_type = MultiJsonFromFiles
test_formatter_type = WordFormatter
test_query_data_path = .\data\LECARD\stage1_cutted\test\query.json
test_candidates_data_path = .\data\LECARD\stage1_cutted\test\candidates

max_seq_length = 2048

[model]
model_name = SMASHRNN
hidden_size = 768

[output]
tensorboard_path = ./output/tensorboard

output_function = Basic

model_path = ./output/done_models/SMASHRNN
model_name = SMASHRNN

output_time = 1
test_time = 1

[distributed]
use = False
backend = gloo
